# loading the necessary libraries and the data from the local directory

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from pprint import pprint
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
%matplotlib inline
import pickle
import warnings
warnings.filterwarnings('ignore')

In [2]:
pd.set_option('display.max_columns', 40)

In [3]:
train_data = pd.read_csv('ml_case_training_data.csv')
train_hist = pd.read_csv('ml_case_training_hist_data.csv')
train_output = pd.read_csv('ml_case_training_output.csv')

In [4]:
train_data.head()

,id,activity_new,campaign_disc_ele,channel_sales,cons_12m,cons_gas_12m,cons_last_month,date_activ,date_end,date_first_activ,date_modif_prod,date_renewal,forecast_base_bill_ele,forecast_base_bill_year,forecast_bill_12m,forecast_cons,forecast_cons_12m,forecast_cons_year,forecast_discount_energy,forecast_meter_rent_12m,forecast_price_energy_p1,forecast_price_energy_p2,forecast_price_pow_p1,has_gas,imp_cons,margin_gross_pow_ele,margin_net_pow_ele,nb_prod_act,net_margin,num_years_antig,origin_up,pow_max
0,48ada52261e7cf58715202705a0451c9,esoiiifxdlbkcsluxmfuacbdckommixw,NaN,lmkebamcaaclubfxadlmueccxoimlema,309275,0,10025,2012-11-07,2016-11-06,NaN,2012-11-07,2015-11-09,NaN,NaN,NaN,NaN,26520.30,10025,0.0,359.29,0.095919,0.088347,58.995952,f,831.8,-41.76,-41.76,1,1732.36,3,ldkssxwpmemidmecebumciepifcamkci,180.000
1,24011ae4ebbe3035111d65fa7c15bc57,NaN,NaN,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,2013-06-15,2016-06-15,NaN,NaN,2015-06-23,NaN,NaN,NaN,NaN,0.00,0,0.0,1.78,0.114481,0.098142,40.606701,t,0.0,25.44,25.44,2,678.99,3,lxidpiddsbxsbosboudacockeimpuepw,43.648
2,d29c2c54acc38ff3c0614d0a653813dd,NaN,NaN,NaN,4660,0,0,2009-08-21,2016-08-30,NaN,2009-08-21,2015-08-31,NaN,NaN,NaN,NaN,189.95,0,0.0,16.27,0.145711,0.000000,44.311378,f,0.0,16.38,16.38,1,18.89,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,13.800
3,764c75f661154dac3a6c254cd082ea7d,NaN,NaN,foosdfpfkusacimwkcsosbicdxkicaua,544,0,0,2010-04-16,2016-04-16,NaN,2010-04-16,2015-04-17,NaN,NaN,NaN,NaN,47.96,0,0.0,38.72,0.165794,0.087899,44.311378,f,0.0,28.60,28.60,1,6.60,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,13.856
4,bba03439a292a1e166f80264c16191cb,NaN,NaN,lmkebamcaaclubfxadlmueccxoimlema,1584,0,0,2010-03-30,2016-03-30,NaN,2010-03-30,2015-03-31,NaN,NaN,NaN,NaN,240.04,0,0.0,19.83,0.146694,0.000000,44.311378,f,0.0,30.22,30.22,1,25.46,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,13.200

In [5]:
train_hist.head()

,id,price_date,price_p1_var,price_p2_var,price_p3_var,price_p1_fix,price_p2_fix,price_p3_fix
0,038af19179925da21a25619c5a24b745,2015-01-01,0.151367,0.0,0.0,44.266931,0.0,0.0
1,038af19179925da21a25619c5a24b745,2015-02-01,0.151367,0.0,0.0,44.266931,0.0,0.0
2,038af19179925da21a25619c5a24b745,2015-03-01,0.151367,0.0,0.0,44.266931,0.0,0.0
3,038af19179925da21a25619c5a24b745,2015-04-01,0.149626,0.0,0.0,44.266931,0.0,0.0
4,038af19179925da21a25619c5a24b745,2015-05-01,0.149626,0.0,0.0,44.266931,0.0,0.0

train_output.head()

In [6]:
train_hist_bymean = train_hist.groupby('id').mean()

In [7]:
train_hist_bymean.head()

,price_p1_var,price_p2_var,price_p3_var,price_p1_fix,price_p2_fix,price_p3_fix
id,,,,,,
0002203ffbb812588b632b9e628cc38d,0.124338,0.103794,0.073160,40.701732,24.421038,16.280694
0004351ebdd665e6ee664792efc4fd13,0.146426,0.000000,0.000000,44.385450,0.000000,0.000000
0010bcc39e42b3c2131ed2ce55246e3c,0.181558,0.000000,0.000000,45.319710,0.000000,0.000000
0010ee3855fdea87602a5b7aba8e42de,0.118757,0.098292,0.069032,40.647427,24.388455,16.258971
00114d74e963e47177db89bc70108537,0.147926,0.000000,0.000000,44.266930,0.000000,0.000000

In [8]:
# merge all the three datas; training_data, training_hist_data, training_output
data = pd.merge(train_data, train_hist_bymean, on = 'id')
data = pd.merge(data, train_output, on = 'id')

# inpecting the data for missing values, outliers and useless columns

In [9]:
data.head()

,id,activity_new,campaign_disc_ele,channel_sales,cons_12m,cons_gas_12m,cons_last_month,date_activ,date_end,date_first_activ,date_modif_prod,date_renewal,forecast_base_bill_ele,forecast_base_bill_year,forecast_bill_12m,forecast_cons,forecast_cons_12m,forecast_cons_year,forecast_discount_energy,forecast_meter_rent_12m,forecast_price_energy_p1,forecast_price_energy_p2,forecast_price_pow_p1,has_gas,imp_cons,margin_gross_pow_ele,margin_net_pow_ele,nb_prod_act,net_margin,num_years_antig,origin_up,pow_max,price_p1_var,price_p2_var,price_p3_var,price_p1_fix,price_p2_fix,price_p3_fix,churn
0,48ada52261e7cf58715202705a0451c9,esoiiifxdlbkcsluxmfuacbdckommixw,NaN,lmkebamcaaclubfxadlmueccxoimlema,309275,0,10025,2012-11-07,2016-11-06,NaN,2012-11-07,2015-11-09,NaN,NaN,NaN,NaN,26520.30,10025,0.0,359.29,0.095919,0.088347,58.995952,f,831.8,-41.76,-41.76,1,1732.36,3,ldkssxwpmemidmecebumciepifcamkci,180.000,0.103449,0.092115,0.067241,58.956502,36.356887,8.337051,0
1,24011ae4ebbe3035111d65fa7c15bc57,NaN,NaN,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,2013-06-15,2016-06-15,NaN,NaN,2015-06-23,NaN,NaN,NaN,NaN,0.00,0,0.0,1.78,0.114481,0.098142,40.606701,t,0.0,25.44,25.44,2,678.99,3,lxidpiddsbxsbosboudacockeimpuepw,43.648,0.122856,0.102137,0.072579,40.640023,24.384011,16.256008,1
2,d29c2c54acc38ff3c0614d0a653813dd,NaN,NaN,NaN,4660,0,0,2009-08-21,2016-08-30,NaN,2009-08-21,2015-08-31,NaN,NaN,NaN,NaN,189.95,0,0.0,16.27,0.145711,0.000000,44.311378,f,0.0,16.38,16.38,1,18.89,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,13.800,0.149934,0.000000,0.000000,44.315416,0.000000,0.000000,0
3,764c75f661154dac3a6c254cd082ea7d,NaN,NaN,foosdfpfkusacimwkcsosbicdxkicaua,544,0,0,2010-04-16,2016-04-16,NaN,2010-04-16,2015-04-17,NaN,NaN,NaN,NaN,47.96,0,0.0,38.72,0.165794,0.087899,44.311378,f,0.0,28.60,28.60,1,6.60,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,13.856,0.170512,0.088421,0.000000,44.385450,0.000000,0.000000,0
4,bba03439a292a1e166f80264c16191cb,NaN,NaN,lmkebamcaaclubfxadlmueccxoimlema,1584,0,0,2010-03-30,2016-03-30,NaN,2010-03-30,2015-03-31,NaN,NaN,NaN,NaN,240.04,0,0.0,19.83,0.146694,0.000000,44.311378,f,0.0,30.22,30.22,1,25.46,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,13.200,0.151210,0.000000,0.000000,44.400265,0.000000,0.000000,0

In [10]:
data.describe()

,campaign_disc_ele,cons_12m,cons_gas_12m,cons_last_month,forecast_base_bill_ele,forecast_base_bill_year,forecast_bill_12m,forecast_cons,forecast_cons_12m,forecast_cons_year,forecast_discount_energy,forecast_meter_rent_12m,forecast_price_energy_p1,forecast_price_energy_p2,forecast_price_pow_p1,imp_cons,margin_gross_pow_ele,margin_net_pow_ele,nb_prod_act,net_margin,num_years_antig,pow_max,price_p1_var,price_p2_var,price_p3_var,price_p1_fix,price_p2_fix,price_p3_fix,churn
count,0.0,1.609600e+04,1.609600e+04,1.609600e+04,3508.000000,3508.000000,3508.000000,3508.000000,16096.000000,16096.000000,15970.000000,16096.000000,15970.000000,15970.000000,15970.000000,16096.000000,16083.000000,16083.000000,16096.000000,16081.000000,16096.000000,16093.000000,16094.000000,16094.000000,16094.000000,16094.000000,16094.000000,16094.000000,16096.000000
mean,NaN,1.948044e+05,3.191164e+04,1.946154e+04,335.843857,335.843857,3837.441866,206.845165,2370.555949,1907.347229,0.991547,70.309945,0.135901,0.052951,43.533496,196.123447,22.462276,21.460318,1.347788,217.987028,5.030629,20.604131,0.141004,0.054379,0.030695,43.327752,10.691430,6.451230,0.099093
std,NaN,6.795151e+05,1.775885e+05,8.235676e+04,649.406000,649.406000,5425.744327,455.634288,4035.085664,5257.364759,5.160969,79.023251,0.026252,0.048617,5.212252,494.366979,23.700883,27.917349,1.459808,366.742030,1.676101,21.772421,0.024297,0.049860,0.036220,5.362695,12.825881,7.761357,0.298796
min,NaN,-1.252760e+05,-3.037000e+03,-9.138600e+04,-364.940000,-364.940000,-2503.480000,0.000000,-16689.260000,-85627.000000,0.000000,-242.960000,0.000000,0.000000,-0.122184,-9038.210000,-525.540000,-615.660000,1.000000,-4148.990000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,5.906250e+03,0.000000e+00,0.000000e+00,0.000000,0.000000,1158.175000,0.000000,513.230000,0.000000,0.000000,16.230000,0.115237,0.000000,40.606701,0.000000,11.960000,11.950000,1.000000,51.970000,4.000000,12.500000,0.123974,0.000000,0.000000,40.675988,0.000000,0.000000,0.000000
50%,NaN,1.533250e+04,0.000000e+00,9.010000e+02,162.955000,162.955000,2187.230000,42.215000,1179.160000,378.000000,0.000000,19.440000,0.142881,0.086163,44.311378,44.465000,21.090000,20.970000,1.000000,119.680000,5.000000,13.856000,0.147251,0.085946,0.000000,44.281745,0.000000,0.000000,0.000000
75%,NaN,5.022150e+04,0.000000e+00,4.127000e+03,396.185000,396.185000,4246.555000,228.117500,2692.077500,1994.250000,0.000000,131.470000,0.146348,0.098837,44.311378,218.090000,29.640000,29.640000,1.000000,275.810000,6.000000,19.800000,0.150316,0.102396,0.072778,44.370635,24.388455,16.248110,0.000000
max,NaN,1.609711e+07,4.188440e+06,4.538720e+06,12566.080000,12566.080000,81122.630000,9682.890000,103801.930000,175375.000000,50.000000,2411.690000,0.273963,0.195975,59.444710,15042.790000,374.640000,374.640000,32.000000,24570.650000,16.000000,500.000000,0.278759,0.196275,0.102952,59.444710,36.490692,16.818917,1.000000

In [11]:
data.describe(include=np.object)

,id,activity_new,channel_sales,date_activ,date_end,date_first_activ,date_modif_prod,date_renewal,has_gas,origin_up
count,16096,6551,11878,16096,16094,3508,15939,16056,16096,16009
unique,16096,419,7,1961,371,1133,2307,398,2,5
top,b31eb083f729964b44dfdf158d5b0d52,apdekpcbwosbxepsfxclislboipuxpop,foosdfpfkusacimwkcsosbicdxkicaua,2009-08-01,2016-02-01,2009-07-14,2015-11-01,2015-06-23,f,lxidpiddsbxsbosboudacockeimpuepw
freq,1,1577,7377,99,152,34,592,637,13132,7825

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16096 entries, 0 to 16095
Data columns (total 39 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        16096 non-null  object
 1   activity_new              6551 non-null   object
 2   campaign_disc_ele         0 non-null      float64
 3   channel_sales             11878 non-null  object
 4   cons_12m                  16096 non-null  int64
 5   cons_gas_12m              16096 non-null  int64
 6   cons_last_month           16096 non-null  int64
 7   date_activ                16096 non-null  object
 8   date_end                  16094 non-null  object
 9   date_first_activ          3508 non-null   object
 10  date_modif_prod           15939 non-null  object
 11  date_renewal              16056 non-null  object
 12  forecast_base_bill_ele    3508 non-null   float64
 13  forecast_base_bill_year   3508 non-null   float64
 14  forecast_bill_12m         3508 non-null   float64
 15  forecast_cons             3508 non-null   float64
 16  forecast_cons_12m         16096 non-null  float64
 17  forecast_cons_year        16096 non-null  int64
 18  forecast_discount_energy  15970 non-null  float64
 19  forecast_meter_rent_12m   16096 non-null  float64
 20  forecast_price_energy_p1  15970 non-null  float64
 21  forecast_price_energy_p2  15970 non-null  float64
 22  forecast_price_pow_p1     15970 non-null  float64
 23  has_gas                   16096 non-null  object
 24  imp_cons                  16096 non-null  float64
 25  margin_gross_pow_ele      16083 non-null  float64
 26  margin_net_pow_ele        16083 non-null  float64
 27  nb_prod_act               16096 non-null  int64
 28  net_margin                16081 non-null  float64
 29  num_years_antig           16096 non-null  int64
 30  origin_up                 16009 non-null  object
 31  pow_max                   16093 non-null  float64
 32  price_p1_var              16094 non-null  float64
 33  price_p2_var              16094 non-null  float64
 34  price_p3_var              16094 non-null  float64
 35  price_p1_fix              16094 non-null  float64
 36  price_p2_fix              16094 non-null  float64
 37  price_p3_fix              16094 non-null  float64
 38  churn                     16096 non-null  int64
dtypes: float64(22), int64(7), object(10)
memory usage: 4.9+ MB

In [13]:
# Checking for missing values
data.isnull().sum()

id                              0
activity_new                 9545
campaign_disc_ele           16096
channel_sales                4218
cons_12m                        0
cons_gas_12m                    0
cons_last_month                 0
date_activ                      0
date_end                        2
date_first_activ            12588
date_modif_prod               157
date_renewal                   40
forecast_base_bill_ele      12588
forecast_base_bill_year     12588
forecast_bill_12m           12588
forecast_cons               12588
forecast_cons_12m               0
forecast_cons_year              0
forecast_discount_energy      126
forecast_meter_rent_12m         0
forecast_price_energy_p1      126
forecast_price_energy_p2      126
forecast_price_pow_p1         126
has_gas                         0
imp_cons                        0
margin_gross_pow_ele           13
margin_net_pow_ele             13
nb_prod_act                     0
net_margin                     15
num_years_antig                 0
origin_up                      87
pow_max                         3
price_p1_var                    2
price_p2_var                    2
price_p3_var                    2
price_p1_fix                    2
price_p2_fix                    2
price_p3_fix                    2
churn                           0
dtype: int64

# Columns that are considered irrelevant to the analysis given that most of their values are missing
drop_column = ['campaign_disc_ele', 'activity_new', 
               'date_first_activ', 'forecast_base_bill_ele', 'forecast_base_bill_year', 
              'forecast_bill_12m', 'forecast_cons']
data_clean = data.drop(drop_column, 1)
data_clean.set_index(keys = 'id', inplace = True)
data_clean.head()

In [14]:
# Removing columns with more than half empty values.
half_count = len(data) / 2
data2 = data.dropna(thresh=half_count, axis=1)

In [15]:
# Differenting the categorical data type from the numberical data type and help inspect the cleaning process
data_clean_object = data_clean.select_dtypes(exclude=np.number)
data_clean_num = data_clean.select_dtypes(include= np.number)

NameError: name 'data_clean' is not defined

In [ ]:
data_clean_object.head()

In [ ]:
data_clean_num.head()

# imputing missing values
    * categorical data where filled with the most frequency value while quantitative features where filled with the median because the mean is influency by outliers
    * datetime data was treated like categorical data as the datetime does not reflect any sequency of event

In [ ]:
# Filling categorical datas
data_clean['channel_sales'].fillna(data_clean['channel_sales'].mode().values[0], inplace = True)
data_clean['date_end'].fillna(data_clean['date_end'].mode().values[0], inplace = True)
data_clean['date_modif_prod'].fillna(data_clean['date_modif_prod'].mode().values[0], inplace = True)
data_clean['date_renewal'].fillna(data_clean['date_renewal'].mode().values[0], inplace = True)
data_clean['origin_up'].fillna(data_clean['origin_up'].mode().values[0], inplace = True)

In [ ]:
# changing the t and f to true and false parameter
data_clean_object['has_gas'].unique()
mapping = {'f':False, 't':True}
data_clean['has_gas'] = data_clean['has_gas'].map(mapping)

In [ ]:
data_clean_object.isnull().sum()

In [ ]:
# changing the following columns to datetime dtype
for a in ['date_activ', 'date_end', 'date_modif_prod', 'date_renewal']:
    data_clean[a] = pd.to_datetime(data_clean[a])

In [ ]:
# filling the missing values for numerical data using the 50 percentile(2 quartile)
for a in data_clean_num.columns:
    if data_clean[a].isna().sum() > 0:
        data_clean[a].fillna(data_clean[a].quantile(), inplace=True)

In [ ]:
data_clean_num.isnull().sum()

In [ ]:
data_clean.isna().sum()

# saving the cleaned files for future use using pickle

In [ ]:
with open(r'C:\Users\BOLAJI\Desktop\BGC_\cleaned_data.pk', 'wb') as file:
    pickle.dump(data_clean, file)

# loading the cleaned file for further processing

In [ ]:
file = open(r'C:\Users\BOLAJI\Desktop/BGC_/project1/cleaned_data.pk', 'rb')
data_clean = pickle.load(file)

In [ ]:
data_clean.head()

# COLUMNS TO REMOVE
* channel_sales, cons_gas_12m, cons_last_month, date_activ, date_end, has_gas, margin_net_pow_ele, nb_prod_act, num_years_antig, origin_up, channel_sales( forecast_cons_12m, forecast_cons_year, forecast_price_energy_p1, forecast_price_energy_p2, price_p1_var, price_p2_var, price_p3_var,   price_p1_fix, price_p2_fix, price_p3_fix)
# TO COMBINE
    * average(forecast_base_bill_year, forecast_bill_12m), average(forecast_cons_12m, forecast_cons_year), average(forecast_price_energy_p1, forecast_price_energy_p2), average(price_p1_var, price_p2_var, price_p3_var), average(price_p1_fix, price_p2_fix, price_p3_fix)
## Note:
    * gross margin is the difference between revenue and cost of goods sold
    * net margin is (revenue-cost)/revenue
    * values of gross and net margin are almost equalavent so i consider it better to retain to the gross margin as it accuracy represent the profit of the organization in comprision with revenue
    * the is also a strong relation between energy and power therefore, one needs to consider if one should remove remove one or the other

In [ ]:
data_clean['year_of_contract'] = [end.year-start.year for start, end in zip(data_clean['date_activ'], data_clean['date_end'])]
#data_clean['av_forecast_base_bill_yr'] = (data_clean['forecast_base_bill_yea'] + data_clean['forecast_bill_12m'])/2
data_clean['av_forecast_price_energy'] = (data_clean['forecast_cons_12m'] + data_clean['forecast_cons_year'])/2
data_clean['av_price_energy'] = (data_clean['price_p1_var'] + data_clean['price_p2_var'] + data_clean['price_p3_var'])/3
data_clean['av_price_power'] = (data_clean['price_p1_fix'] + data_clean['price_p2_fix'] + data_clean['price_p3_fix'])/3
data_clean.drop(['channel_sales', 'cons_gas_12m', 'cons_last_month', 'date_activ', 'date_end', 'has_gas', 'margin_net_pow_ele', 'nb_prod_act', 'num_years_antig', 'origin_up', 'channel_sales', 'forecast_cons_12m', 'forecast_cons_year', 'forecast_price_energy_p1', 'forecast_price_energy_p2', 'price_p1_var', 'price_p2_var', 'price_p3_var',   'price_p1_fix', 'price_p2_fix', 'price_p3_fix'], axis = 1, inplace = True)

# DATA VISUALIZATION
* It is obvious that the data contains a lot of outliers and there a lot of clustering of the data point around zero

In [ ]:
#fig, axe = plt.subplots(14, 1, figsize = (10, 10))
for col in data_clean.drop(['churn', 'date_modif_prod', 'date_renewal'], 1).columns:
#    print(f'summary for column base on churn {col}\n')
#    print(data_clean.groupby('churn')[col].describe())
    print('\n\n')
#    sns.distplot(data_clean[col], kde= False, ax = ax)
    g = sns.FacetGrid(data_clean, col = 'churn', 
                      height = 5, hue = 'churn', palette = 'PuBuGn_d');
    g.map(sns.distplot, col, kde = False, norm_hist = True);
    plt.title(print('summary for column base on churn {}\n{}\n'.format(col, data_clean.groupby('churn')[col].describe())))

In [ ]:
def mapping(xs, ys):
    mapper = []
    for x in xs:
        for y in ys:
            if x != y:
                mapper.append((x, y))
        ys = ys[1:]
    return mapper

In [ ]:
xs = data_clean.drop(['churn', 'date_modif_prod', 'date_renewal'], 1).columns
ys = data_clean.drop(['churn', 'date_modif_prod', 'date_renewal'], 1).columns

In [ ]:
for x, y in mapping(xs, ys):
    data_clean.groupby('churn').plot.scatter(x = x, y = y)

In [ ]:
normalize_data = data_clean.drop(['date_modif_prod', 'date_renewal', 'churn'], 1).apply(lambda x: np.tan(x)) 
normalize_data['churn'] = data_clean.churn
normalize_data.head()

In [ ]:
for x, y in mapping(xs, ys):
    normalize_data.groupby('churn').plot.scatter(x = x, y = y)

In [ ]:
sc = StandardScaler()
standardize_data = sc.fit_transform(data_clean.drop(['date_modif_prod', 'date_renewal', 'churn'], 1))
standardize_data = pd.DataFrame(standardize_data, columns= data_clean.drop(['date_modif_prod', 'date_renewal', 'churn'], 1).columns, index = data_clean.index)
standardize_data['churn'] = data_clean.churn

In [ ]:
for x, y in mapping(xs, ys):
    standardize_data.groupby('churn').plot.scatter(x = x, y = y)

In [ ]:
corr = data_clean.corr()
mask = np.tril(np.ones_like(corr, dtype=np.bool), k=-1)
new_data = corr.where(mask)
fig, ax = plt.subplots(1, 1, figsize = (10,6))
sns.heatmap(new_data, annot= True)

In [ ]:
print(f'summary for column base on churn forecast_meter_rent_12m \n')
print('{}'.format(data_clean.groupby('churn')['forecast_meter_rent_12m'].describe()))

In [ ]:
data_clean.groupby('churn')['forecast_meter_rent_12m'].describe()

In [ ]:
print(len(mapping(xs, ys)))
print(len([(x, y) for x in xs for y in ys if x != y]))